apiVersion: apps/v1
kind: Deployment
metadata:
  name: poi
spec:
  selector:
    matchLabels:
      run: poi
  replicas: 2
  template:
    metadata:
      labels:
        run: poi
    spec:
      containers:
      - name: poi
        image: registryet76720.azurecr.io/poi:latest
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: 128Mi
            cpu: 500m
        env:
        - name: SQL_USER
          valueFrom:
            secretKeyRef:
              name: sql
              key: user
        - name: SQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sql
              key: password
        - name: SQL_SERVER
          valueFrom:
            secretKeyRef:
              name: sql
              key: server
        - name: SQL_DBNAME
          value: mydrivingDB
---
apiVersion: v1
kind: Service
metadata:
  name: poi
spec:
  selector:
    run: poi
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
          
