apiVersion: apps/v1
kind: Deployment
metadata:
  name: tripviewer-deployment
  namespace: tripviewer-namespace
  labels:
    app: tripviewer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tripviewer
  template:
    metadata:
      labels:
        app: tripviewer
    spec:
      containers:
      - name: tripviewer
        image: registryeT76720.azurecr.io/tripviewer:latest
        resources:
          limits:
            memory: 128Mi
            cpu: 500m
        ports:
        - containerPort: 80
        env:
        - name: USER_API_ENDPOINT
          value: http://userprofile.api-namespace:80
        - name: TRIPS_API_ENDPOINT
          value: http://trips.api-namespace:80
---
apiVersion: v1
kind: Service
metadata:
  name: tripviewer
  namespace: tripviewer-namespace
spec:
  selector:
    app: tripviewer
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80